<div class="all_users_css">
  <div class="cont-margin" *ngIf="userMain?.emailVerified">
    <div
      *ngIf="isLoading; else Content"
      class="d-flex justify-content-center align-items-center min-vh-100"
    >
      <div
        class="spinner-border text-danger"
        style="width: 3rem; height: 3rem;"
        role="status"
      ></div>
    </div>
    <ng-template #Content>
      <div class="row">
        <div class="col col-12">
          <h1 class="text-danger text-uppercase text-center">Our User</h1>
          <div *ngFor="let users of users">
            <app-user [users]="users"></app-user>
            <!-- <app-adminseeusers
            *ngIf="userMain?.role"
            [users]="users"
          ></app-adminseeusers> -->
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div
  class="text-danger h1 text-center text-uppercase"
  *ngIf="!userMain?.emailVerified"
>
  Verify Email First
</div>
